// stylelint-disable -- Intentionally disabling

.Button {
  --gap: var(--p-space-050);
  all: unset;
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: var(--gap);
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  --bg: transparent;
  --bg_hover: var(--bg);
  --bg_active: var(--bg);
  --bg_pressed: var(--bg_active);
  --bg_disabled: var(--p-color-bg-fill-disabled);
  --color: inherit;
  --color_hover: var(--color);
  --color_active: var(--color);
  --color_pressed: var(--color_active);
  --color_disabled: var(--p-color-text-disabled);
  --box-shadow: transparent;
  --box-shadow_hover: var(--box-shadow);
  --box-shadow_active: var(--box-shadow);
  --box-shadow_pressed: var(--box-shadow_active);
  --box-shadow_disabled: var(--box-shadow);
  border: none;
  border-radius: var(--p-border-radius-200);
  background: var(--bg);
  color: var(--color);
  fill: currentColor; // This should be var(--p-color-icon)
  box-shadow: var(--box-shadow);
  font-size: var(--p-font-size-325);
  font-weight: var(--p-font-weight-medium);
  line-height: var(--p-font-line-height-500);

  @media (--p-breakpoints-md-up) {
    font-size: var(--p-font-size-300);
    line-height: var(--p-font-line-height-400);
  }
}

.Button:hover {
  background: var(--bg_hover);
  color: var(--color_hover);
  box-shadow: var(--box-shadow_hover);
}

.Button:active {
  background: var(--bg_active);
  color: var(--color_active);
  box-shadow: var(--box-shadow_active);
}

.pressed {
  background: var(--bg_pressed);
  color: var(--color_pressed);
  box-shadow: var(--box-shadow_pressed);
}

.Button:focus-visible {
  background: var(--bg_hover);
  color: var(--color_hover);
  outline: var(--p-border-width-050) solid var(--p-color-border-focus);
  outline-offset: var(--p-space-025);
}

.Button:disabled,
.Button[disabled],
.disabled {
  background: var(--bg_disabled);
  color: var(--color_disabled);
  box-shadow: none;
  cursor: not-allowed;
  user-select: none;
  pointer-events: none;
}

// VARIANTS
.variantPrimary {
  --bg: linear-gradient(180deg, #3e3d3e 0%, #403e40 79.91%, #5e5d5e 100%);
  --bg_hover: #2f2f2f;
  --bg_active: #303030;
  --bg_pressed: #303030; // var(--p-color-bg-fill-brand-selected);
  --bg_disabled: var(--p-color-bg-fill-brand-disabled);
  --color: var(--p-color-text-brand-on-bg-fill);
  --color_disabled: var(--p-color-text-brand-on-bg-fill-disabled);
  --box-shadow: 0 0 0 1px hsl(0, 0%, 10%) inset,
    0 0.5px 0 1.5px hsl(0, 0%, 46%) inset, 0 -1px 0 1px hsl(0, 0%, 0%) inset;
  --box-shadow_active: 0 0.1875rem 0 0 #000000 inset;
}

.variantSecondary {
  --bg: var(--p-color-bg-fill);
  --bg_hover: var(--p-color-bg-fill-hover);
  --bg_active: var(--p-color-bg-fill-active);
  --bg_pressed: var(--p-color-bg-fill-selected);
  --color: var(--p-color-text);
  --color_hover: var(--p-color-text-hover);
  --box-shadow: 0 1px 0 0 #e3e3e3 inset, 1px 0 0 0 #e3e3e3 inset,
    -1px 0 0 0 #e3e3e3 inset, 0 -1px 0 0 #b5b5b5 inset;
  --box-shadow_hover: 0 1px 0 0 #ebebeb inset, -1px 0 0 0 #ebebeb inset,
    1px 0 0 0 #ebebeb inset, 0 -1px 0 0 #cccccc inset;
  --box-shadow_active: var(--p-shadow-inset-200);
}

.variantTertiary {
  --bg_hover: var(--p-color-bg-fill-transparent-hover);
  --bg_active: var(--p-color-bg-fill-transparent-active);
  --color: var(--p-color-text);
}

.variantPlain {
  --color: var(--p-color-text-link);
}

.variantPlain,
.variantMonochromePlain {
  --bg_disabled: transparent;
  margin-inline: calc(-1 * var(--padding-inline));
  font-weight: var(--p-font-weight-normal);
}

.variantPlain:hover,
.variantMonochromePlain:hover,
.variantPlain:active,
.variantMonochromePlain:active {
  text-decoration: underline;
}

// TONES
.toneSuccess:is(.variantSecondary, .variantTertiary, .variantPlain) {
  --color: var(--p-color-text-success);
  --color_hover: var(--color);
}

.toneCritical:is(.variantSecondary, .variantTertiary, .variantPlain) {
  --color: var(--p-color-text-critical);
  --color_hover: var(--color);
}

.toneSuccess:is(.variantPrimary) {
  --bg: var(--p-color-bg-fill-success);
  --bg_hover: var(--p-color-bg-fill-success-hover);
  --bg_active: var(--p-color-bg-fill-success-active);
  --box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.48) inset,
    -1px 0 0 0 rgba(255, 255, 255, 0.2) inset,
    1px 0 0 0 rgba(255, 255, 255, 0.2) inset,
    0 -1.5px 0 0 rgba(0, 0, 0, 0.25) inset;
}

.toneCritical:is(.variantPrimary) {
  --bg: var(--p-color-bg-fill-critical);
  --bg_hover: var(--p-color-bg-fill-critical-hover);
  --bg_active: var(--p-color-bg-fill-critical-active);
  --box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.48) inset,
    -1px 0 0 0 rgba(255, 255, 255, 0.2) inset,
    1px 0 0 0 rgba(255, 255, 255, 0.2) inset,
    0 -1.5px 0 0 rgba(0, 0, 0, 0.25) inset;
}

// SIZES
.sizeMicro {
  --padding-block: var(--p-space-100);
  --padding-inline: var(--p-space-200);
  height: var(--p-height-600);
  min-width: var(--p-width-600);
}

.sizeSlim,
.sizeMedium {
  --padding-block: var(--p-space-150);
  --padding-inline: var(--p-space-300);
  height: var(--p-height-700);
  min-width: var(--p-width-700);
}

.sizeLarge {
  --padding-block: var(--p-space-150);
  --padding-inline: var(--p-space-300);
  height: var(--p-height-800);
  min-width: var(--p-height-800);
  font-size: var(--p-font-size-325);
  line-height: var(--p-font-line-height-500);
}

// TEXT ALIGNMENT
.textAlignCenter {
  justify-content: center;
  text-align: center;
}

.textAlignStart,
.textAlignLeft {
  justify-content: start;
  text-align: start;
}

.textAlignEnd,
.textAlignRight {
  justify-content: end;
  text-align: end;
}

// WIDTH
.fullWidth {
  width: 100%;
}

// ICON
.iconOnly {
  padding: 0;
}
.iconWithText {
  padding-left: calc(var(--padding-inline) * 0.5);
}

// DISCLOSURE
.disclosure {
  padding-right: calc(var(--padding-inline) * 0.5);
}
.disclosure:is(.textAlignStart,.textAlignLeft) {
  justify-content: space-between;
}

// LOADING
.loading {
  color: transparent;
}

// INTERACTION
.pressable:active:not(.variantTertiary, .variantPlain, .variantMonochromePlain)
> * {
  transform: translate3d(0, 1px, 0);
}

// UTILITIES
.hidden {
  visibility: hidden;
}

// SPINNER
.Spinner {
  position: absolute;
  top: calc(var(--padding-block) / 2 + 50%);
  left: 50%;
  transform: translate(-50%, -50%);
}

.Spinner svg {
  fill: var(--color_disabled);
}

// BUTTON GROUP
[data-buttongroup-variant="segmented"] > *:not(:first-child) .Button {
  margin-left: calc(-1 * var(--p-space-025));
}
[data-buttongroup-variant="segmented"] > *:not(:first-child) .Button {
  border-top-left-radius: var(--p-border-radius-0);
  border-bottom-left-radius: var(--p-border-radius-0);
}
[data-buttongroup-variant="segmented"] > *:not(:last-child) .Button {
  border-top-right-radius: var(--p-border-radius-0);
  border-bottom-right-radius: var(--p-border-radius-0);
}
